results/**
resources/**
logs/**
workflow/envs/src/**
.snakemake
.snakemake/**
.snakemake-cache/**
.vscode/
!resources/eul1db_SRIP.txt
!resources/hs37d5_map.tsv
!resources/slavseq_metadata.tsv
**__pycache__
prep_genomes/
.test/results
.test/resources