results/**
resources/**
logs/**
workflow/envs/src/**
.snakemake
.snakemake/**
.snakemake-cache/**
.vscode/
!resources/bad_cells.txt
!resources/eul1db_SRIP.txt
!resources/hs37d5_map.tsv
!resources/slavseq_metadata.tsv
**__pycache__
prep_genomes/
.test/results
.test/resources
cf.10xgenomics.com/**
hgdownload.soe.ucsc.edu/**
ftp.ncbi.nlm.nih.gov/**
*nbconvert.ipynb
config/*tsv
*pqt
*pkl
*svg
*png
*pdf
